<app-navbar></app-navbar>
<div class="card p-5"
    style="width: 100%; max-width: 800px; backdrop-filter: blur(12px); background-color: rgba(255, 255, 255, 0.08); border: 1px solid rgba(255, 255, 255, 0.12); border-radius: 16px;">
    <div *ngIf="etapaAtual === 1">
        <h2 class="text-center text-light mb-5">Agendar Sala</h2>

        <form [formGroup]="formStep1">
            <div class="row g-4">
                <div class="col-md-6">
                    <label class="form-label text-light">
                        Quantidade de Pessoas <span class="asterisco">*</span>
                    </label>
                    <input type="number" class="form-control bg-transparent text-light" formControlName="qtdPessoas"
                        min="2" placeholder="Ex: 5" style="border: 1px solid rgba(255,255,255,0.2)">
                    <div *ngIf="formStep1.get('qtdPessoas')?.invalid && formStep1.get('qtdPessoas')?.touched"
                        class="text-danger mt-2 small">
                        Mínimo de 2 pessoas requerido
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="form-label text-light">
                        Data para Agendamento <span class="asterisco">*</span>
                    </label>
                    <input type="date" class="form-control bg-transparent text-light" formControlName="dataEvento"
                        style="border: 1px solid rgba(255,255,255,0.2);
                          padding-right: 2.5rem;">
                </div>

                <div class="col-12">
                    <label class="form-label text-light">
                        Descrição <span class="asterisco">*</span>
                    </label>
                    <textarea class="form-control bg-transparent text-light" rows="4" formControlName="descricao"
                        placeholder="Descreva o propósito do agendamento..."
                        style="border: 1px solid rgba(255,255,255,0.2); resize: none"></textarea>
                    <div *ngIf="formStep1.get('descricao')?.invalid && formStep1.get('descricao')?.touched"
                        class="text-danger mt-2 small">
                        Descrição obrigatória
                    </div>
                </div>

                <div class="col-12 mt-4">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-dark px-5 py-2" [disabled]="!formStep1.valid"
                            (click)="proximaEtapa(2)">
                            Próximo <i class="bi bi-arrow-right ms-2"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Etapa 2 -->
<!-- <div class="container card p-4 m-4 shadow-sm col-md-6 col-8" *ngIf="etapaAtual === 2">
    <h2 class="text-center text-primary my-3">Agendar Sala</h2>
    <form class="mt-6" [formGroup]="formStep2">
        <p>fkeofkwopfjk</p>
        <div class="container my-4">
            <p class="text-left">Selecione a sala desejada:</p>
            <div class="row mb-4">
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 text-center"
                    *ngFor="let sala of salas">
                    <button class="btn text-white p-4 px-md-4 px-5 w-100" [ngClass]="{
                   
                  }" >
                        {{ sala.nome }}
                    </button>
                </div>
            </div> -->

<!-- <p class="text-left" *ngIf="salaSelecionada">Selecione o(s) periodo(s) desejado(s):</p>
            <div class="row mb-4" *ngIf="salaSelecionada">
                <div class="row mb-4">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 text-center" *ngFor="let periodo of periodos">
                        <button class="btn text-white p-4 px-md-4 px-5 w-100" [ngClass]="{
                        'btn-primary': !periodosSelecionados.includes(periodo) && !periodo.ocupada,
                        'btn-warning': periodosSelecionados.includes(periodo),
                        'btn-secondary': periodo.ocupada
                      }" [disabled]="periodo.ocupada" (click)="selecionarPeriodo(periodo)">
                            {{ extrairHora(periodo.eventoPeriodo.horaInicial) }} - {{
                            extrairHora(periodo.eventoPeriodo.horaFinal) }}
                            <span *ngIf="periodo.ocupada" class="ms-2">(Ocupado)</span>
                        </button>
                    </div>
                </div>
            </div>
            <p class="text-left" *ngIf="salaSelecionada && coffeeBreakSelecionado === 'COFFEE BREAK SIMPLES'">Selecione
                o periodo de Coffee Break desejado:</p>
            <div class="row mb-4" *ngIf="salaSelecionada && coffeeBreakSelecionado === 'COFFEE BREAK SIMPLES'">
                <div class="row mb-4">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3 text-center"
                        *ngFor="let coffeeBreakPeriodo of coffeeBreakPeriodos">
                        <button class="btn text-white p-4 px-md-4 px-5 w-100" [ngClass]="{
                        'btn-primary': !coffeeBreakPeriodoSelecionado.includes(coffeeBreakPeriodo) && !coffeeBreakPeriodo.ocupado,
                        'btn-warning': coffeeBreakPeriodoSelecionado.includes(coffeeBreakPeriodo),
                        'btn-secondary': coffeeBreakPeriodo.ocupado
                      }" [disabled]="coffeeBreakPeriodo.ocupado"
                            (click)="selecionarCoffeeBreakPeriodo(coffeeBreakPeriodo)">
                            {{ extrairHora(coffeeBreakPeriodo.coffeeBreakPeriodo.horaInicial) }} - {{
                            extrairHora(coffeeBreakPeriodo.coffeeBreakPeriodo.horaFinal) }}
                            <span *ngIf="coffeeBreakPeriodo.ocupado" class="ms-2">(Ocupado)</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
                <button (click)="etapaPassada(1)" class="btn btn-primary px-3">Voltar</button>
                <button (click)="proximaEtapa(3)" [disabled]="!salaSelecionada || periodosSelecionados.length === 0"
                    class="btn btn-primary">Próximo</button>
            </div>
        </div> -->

